<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>환영합니다.</h2>

​

{{userid}}({{username}})님 사이트 가입을 환영합니다.

<a href="/">메인으로가기</a>

​

//info.html

​

info html 입니다.

<table>

    <tr>

        <td>번호</td>

        <td>아이디</td>

        <td>패스워드</td>

        <td>이름</td>

        <td>성별</td>

        <td>이미지</td>

        <td>등록일</td>

    </tr>

    {% for item in userList %}

    <tr>

        <td>{{item.dataValues.id}}</td>

        <td>{{item.dataValues.userid}}</td>

        <td>{{item.dataValues.userpw}}</td>

        <td>{{item.dataValues.username}}</td>

        <td>{{item.dataValues.gender}}</td>

        <td>{{item.dataValues.userimage}}</td>

        <td>{{item.dataValues.userdt}}</td>

    </tr>

    {% endfor %}

</table>
</body>
</html>
