<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/user/join_success" id = "login_frm" method="post" enctype="multipart/form-data">

        <table>
    
            <tr>
    
                <td>아이디</td> 
    
                <td><input type="text" name= "userid" id = "userid">
    
                    <p id = "userid_msg"></p>
    
                </td>
    
            </tr>
    
            <tr>
    
                <td>패스워드</td>
    
                <td><input type="password" id="userpw" name="userpw"></td>
    
            </tr>
    
            <tr>
    
                <td>패스워드 확인</td>
    
                <td><input type = "password" id="userpw_check" name = "userpw_check"></td>
    
            </tr>
    
            <tr>
    
                <td>이름</td>
    
                <td><input type="text" name="username"></td>
    
            </tr>
    
            <tr>
    
                <td>성별</td>
    
                <td>
    
                    <input type='radio' id="gender" name="gender" value="0">남자
    
                    <input type='radio' id="gender" name="gender" value="1" checked>여자
    
                </td>
    
            </tr>
    
            <tr>
    
                <td>이미지</td>
    
                <td><input type = "file" name = "img"></td>
    
            </tr>
    
            
    
        </table>
    
    ​
    
        <input type='button' id = "login_submit" value="로그인">
    
    </form>
    

</body>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    
    <script type = "text/javascript">
    
        const pwd1 = document.querySelector('#userpw')
    
        const pwd2 = document.querySelector('#userpw_check')
    
        const btn = document.querySelector('#login_submit')
    
        const login_frm = document.querySelector('#login_frm')    
    
        const userid_msg = document.querySelector('#userid_msg')
    
        const userid = document.querySelector('#userid')
    
    ​
    
        function password_check(){
    
            console.log(pwd1.value, pwd2.value)
    
            return pwd1.value == pwd2.value;
    
        }
    
    ​
    
        async function userid_check(){
    
            console.log('asdfasdfasdf')
    
            let data = await axios.get(`http://localhost:3080/user/userid_check?userid=${userid.value}`)
    
            
    
            login_flag = data.data.login;
    
    ​
    
            if(login_flag){
    
                userid_msg.innerHTML = '올바른 아이디입니당'
    
                userid_msg.style.color = 'green'
    
            }else{
    
                userid_msg.innerHTML = '중복된 아이디입니당'
    
                userid_msg.style.color = 'red'
    
            }
    
        }
    
    ​
    
        userid.addEventListener('focusout',userid_check)
    
    ​
    
        btn.addEventListener('click',()=>{
    
            pwd_check = password_check();
    
            if(pwd_check){
    
                login_frm.submit() 
    
            }else{
    
                alert('패스워드가 서로 다릅니다')
    
                pwd1.value = '';
    
                pwd2.value = '';
    
                pwd1.focus();
    
            }
    
        })
    
    </script>
</html>